/dts-v1/;
#include <nrf52840.dtsi>

/ {
    model = "MS88SF21";
    compatible = "nordic,nrf52840";

    chosen {
        zephyr,flash = &flash0;
        zephyr,sram = &sram0;
    };

    matrix {
        compatible = "zmk,matrix";
        rows = <7>;
        cols = <6>;
        row-gpios = <
            &gpio0 2 GPIO_ACTIVE_LOW
            &gpio0 3 GPIO_ACTIVE_LOW
            &gpio0 4 GPIO_ACTIVE_LOW
            &gpio0 5 GPIO_ACTIVE_LOW
            &gpio0 6 GPIO_ACTIVE_LOW
            &gpio0 7 GPIO_ACTIVE_LOW
            &gpio0 8 GPIO_ACTIVE_LOW
        >;
        col-gpios = <
            &gpio0 11 GPIO_ACTIVE_LOW
            &gpio0 12 GPIO_ACTIVE_LOW
            &gpio0 13 GPIO_ACTIVE_LOW
            &gpio0 14 GPIO_ACTIVE_LOW
            &gpio0 15 GPIO_ACTIVE_LOW
            &gpio0 16 GPIO_ACTIVE_LOW
        >;
        diodes = "col2row";
    };
};
